Data/training/Speech_Data
Data/testing/Audio
Data/testing/frames
Data/testing/angry.mp4
weights/visual_network.h5
weights/ensemble.pkl
weights/audio_network.h5
Data/training/Visual_Data
Data/training/haarcascade_frontalface_default.xml